appdirs==1.4.3
arrow==0.15.5
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
coverage==5.0.4
distlib==0.3.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.5.0
importlib-resources==1.4.0
more-itertools==8.2.0
numpy==1.18.2
packaging==20.3
pluggy==0.13.1
proj==0.1.0
py==1.10.0
pyparsing==2.4.6
pyproj==1.9.6
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
virtualenv==20.0.13
virtualenv-clone==0.5.3
wcwidth==0.1.8
zipp==3.1.0
